<header class="site-header" role="banner">

  <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="#">Logo</a></li>
          </ul>
      </div>
      <div class="uk-navbar-right">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <ul class="uk-navbar-nav">
          <li>
            <a href="#">Páginas</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                {%- if page_paths -%}
                  {%- for path in page_paths -%}
                    {%- assign my_page = site.pages | where: "path", path | first -%}
                    {%- if my_page.title -%}
                      <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a> </li>
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
                <li> <a href="#contact"> Contacto </a> </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
  </nav>


</header>
