// Sintaxis dependiendo del tipo
// 1. Tags por si solos: p, h1, h2, h3, div.. => Van solos en el css
// p {}
// 2. Clases => Van con un punto antes
// .class-name{}
// 3. Id
// #id{}

// General

body, p {
  font-family: $base-font-family;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
}


a{
  color: green;
}

.pink{
  color: pink;
}

#contact{
  background-color: yellow;
}

.arrow{
  list-style-type: square;
}

ul > li::marker {
  content: "> ";
  color: pink;
  font-weight: bold;
}



// Style

.title-font{
  font-family: $title-font-family;
}

.img-50{
  width: 50%;
}

.yellow-bold{
  font-weight: bold;
  color: #567987;
}

.uk-container{

}

.bg-blue{
  background-color: blue;
}
// Uikit

.uk-label {
  display: inline-block;
  padding: 0 10px;
  background: #1e87f0;
  line-height: 1.5;
  font-size: 30px;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 1px;
  text-transform: uppercase;
}

.uk-label-success {
  background-color: $brand-color;
}
