<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>


    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="uk-container uk-container-small">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
