---
layout: default
---

<div id="section-home" class="home uk-container uk-container-small">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="uk-panel">
    <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent uk-border-circle" src="https://www.loveyourdog.com/wp-content/uploads/2019/10/Best-Corgi-Harness-900x500.jpg" alt="Perro amarillo feliz">
    <h2 class="uk-heading-medium">Pilar Grant is a designer currently trying to learn how to code</h2>
    <a class="pink" href="mailto:pgrant@ciudadaniai.org"> pgrant@ciudadaniai.org </a><br>
    <a href="https://google.com" target="_blank"> Link que va a Google</a>
  </div>

  <a class="uk-button uk-button-default" href="">Boton a</a>

  <button class="uk-button uk-button-default">Boton b</button>


  <table class="uk-table">
      <thead>
          <tr>
            <th>Table Heading</th>
            <th>Table Heading</th>
            <th>Table Heading</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
          </tr>
          <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
          </tr>
      </tbody>
  </table>

  <ul>
    <li> Platanos </li>
    <li> Frutillas </li>
    <li> Frambuesas </li>
  </ul>

  <dl>
    <dd> Platanos </dd> <de> Definicion de platano </de>
    <dd> Frutillas </dd> <de> Definicion de platano </de>
    <dd> Frambuesas </dd>
  </dl>

  <ol>
    <li> Platanos </li>
    <li> Frutillas </li>
    <li> Frambuesas </li>
  </ol>

<hr>
    <p>
      Lorem ipsum <b>dolor</b> sit amet, consectetur adipisicing elit, <pre>sed do eiusmod</pre> tempor incididunt ut labore et <i>dolore</i> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut <span class="yellow-bold title-font">aliquip</span> ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
     <cite> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</cite>
     </p>

  <p class="white"> Este es un parrafo pero </p>

  <div id="contact">
    <form class="uk-form-horizontal uk-margin-large">

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Text</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Some text...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Select</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="form-horizontal-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-form-label">Radio</div>
            <div class="uk-form-controls uk-form-controls-text">
                <label><input class="uk-radio" type="radio" name="radio1"> Option 01</label><br>
                <label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
            </div>
        </div>

    </form>
  </div>

  {{ content }}



    {%- if site.projects.size > 0 -%}
      <h2 class="post-list-heading">Proyectos destacados</h2>
      <ul class="post-list">
        {%- for project in site.projects limit:3-%}
          <div class="bg-blue">
            <h3>
              <a class="post-link" href="{{ project.url | relative_url }}">
                {{ project.title }}
              </a>
            </h3>
            <b> {{project.clients }}</b>
            <p> {{project.summary }}</p>
          </div>
        {%- endfor -%}
      </ul>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- else -%}
      <h3> no hay más de 3 posts </h3>
    {%- endif -%}



  {%- if site.posts.size > 3 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Latest work" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:1-%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
        </li>
      {%- endfor -%}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- else -%}
    <h3> no hay más de 3 posts </h3>
  {%- endif -%}

</div>
