---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
